<div class="homepage-banner">
    {% assign wrapper_align = "" %}
    {% if section.settings.text_alignment == 'left' %}
        {% assign wrapper_align = "left_aligned" %}
    {% elsif section.settings.text_alignment == 'right' %}
        {% assign wrapper_align = "right_aligned" %}
    {% elsif section.settings.text_alignment == 'center' %}
        {% assign wrapper_align = "center_aligned" %}
    {% endif %}
	<div class="wrapper {{wrapper_align}}">
		<h1 class="section-title">{{section.settings.title}}</h1>
		{% unless section.settings.copy == blank %}
		<p class="section-copy">{{section.settings.copy}}</p>
		{% endunless %}
		{% unless section.settings.cta_text == blank %}
		<a href="{% if section.settings.cta_url == blank %}#{%else%}section.settings.cta_url{% endif %}"> {{section.settings.cta_text}} </a>
		{% endunless %}
	</div>
</div>

<style>
	.homepage-banner {
		background-image: url('{{ section.settings.background_image_desktop | img_url: 'master' }}');
	}

	@media screen and (max-width: 767px) {
		.homepage-banner {
			background-image: url('{{ section.settings.background_image_mobile | img_url: '1024x' }}');
		}
	}

    .homepage-banner h1, .homepage-banner p {
        color: {{section.settings.text_color}};
    }
</style>

{% schema %}
{
  "name": "Homepage Banner",
  "settings": [
    {
    	"type": "image_picker",
    	"id": "background_image_desktop",
    	"label": "Background Image for Desktop"
    },
    {
    	"type": "image_picker",
    	"id": "background_image_mobile",
    	"label": "Background Image for Mobile"
    },
    {
    	"type": "color",
    	"id": "text_color",
    	"label": "Text Color"
    },
    {
    	"type": "select",
    	"id": "text_alignment",
    	"label": "Text Alignment",
    	"options": [
	      {
	        "value": "left",
	        "label": "Left"
	      },
	      {
	        "value": "right",
	        "label": "Right"
	      },
	      {
	        "value": "center",
	        "label": "Center"
	      }
	    ],
	    "default": "left",
	    "info": "This only works for desktop view."
    },
    {
    	"type": "text",
    	"id": "title",
    	"label": "Title",
    	"default": "Hero Title"
    },
    {
    	"type": "textarea",
    	"id": "copy",
    	"label": "Copy"
    },
    {
    	"type": "text",
    	"id": "cta_text",
    	"label": "CTA Text"
    },
    {
    	"type": "url",
    	"id": "cta_url",
    	"label": "CTA Url"
    }
  ],
  "presets": [
    {
      "name": "Homepage Banner",
      "category": "Homepage"
    }
  ]
}
{% endschema %}